{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block page_title %}
    OCRROO WEBSITE
{% endblock %}


<!-- Main body -->
{% block main %}

<section class="grid grid-cols-6  justify-items-center gap-4 mx-auto border grow h-full shadow-md p-4 rounded space-y-2 bg-zinc-100">

    <div class="mt-4 flex space-x-2 w-full justify-items-center" >
        <p class="mt-4 flex space-x-2 w-full justify-items-center">Please enter a name:</p>
        <label class="mt-1 flex space-x-2 justify-items-center border " style="white-space: pre-wrap; min-height: 50px;">
            <input type="text" name="userName" id="userName" >
        </label>
        <!-- Validate username button-->
        <button class="px-4 py-2 bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded border shadow transition duration-200" style="min-width: 150px;" onclick="validateUser()">Enter</button>


    </div>
    <div>
        <p id="greeting"> </p>
        <p id="userError" style="color:red; font-weight:bold;"></p>
    </div>
</section>


<section class="grid grid-cols-6  justify-items-center gap-4 mx-auto border grow h-full shadow-md p-4 rounded space-y-2 bg-zinc-100">


    <p class="fa-bold">Select a video below:</p>

<!--    <ul class="list-disc list-inside">-->
<!--        <li> Link </li>-->
<!--    </ul>-->

    <!-- File input -->
    <input type="file" id="videoFile" accept="video/*"
           class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded shadow transition duration-200">
    <!-- Video Player -->
    <video id="videoPlayer" width="640" height="360" controls>
        <source id="videoSource" src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <br><br>
    <!-- Play and Pause button -->
    <!--<div class="mt-4 flex space-x-2 justify-items-center">
      <button class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded shadow transition duration-200" onclick="playPause()">Play/Pause</button>
    </div> -->

    <div class="mt-4 flex space-x-2 justify-items-center">

        <p class="text-bold" id="timestamp">TimeStamp: 0.00.00 </p>
    </div>
</section>


<section class="grid grid-cols-6  justify-items-center gap-4 mx-auto border grow h-full shadow-md p-4 rounded space-y-2 bg-zinc-100">
    <h2>Frame capture</h2>
    <img id="frameImage" width="640" height="360"/>

    <div class="mt-4 flex space-x-2 justify-items-center">
        <button class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded shadow transition duration-200" onclick="captureFrameAndTranscriptButton()">Capture and Read Frame</button>
    </div>

</section>

<section class="grid grid-cols-6  justify-items-center gap-4 mx-auto border grow h-full shadow-md p-4 rounded space-y-2 bg-zinc-100">
    <h3>Here is your Transcript: </h3>
        <div id="transcriptBox"
             class="mt-.5 p-1 w-full bg-white shadow rounded hover:text-gray-500">
            <label>
                <textarea class="mt-1 flex space-x-2 justify-items-center border " style="white-space: pre-wrap; min-height: 500px; min-width: 650px;" id="transcriptText" readonly>
                Transcript will appear here:

                </textarea>
            </label>


        </div>
        <!-- Read Transcript -->
        <div class="mt-4 flex space-x-2 justify-items-center gap-4 mx-auto grow p-4 rounded space-y-2 bg-zinc-100">
            <!--<button class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded shadow transition duration-200" onclick="readTranscript()">Read</button> -->

        <!-- Reset Transcript -->
        <!--<button class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded border shadow transition duration-200" onclick="resetTranscript()">Reset </button>-->
            <button class="px-4 py-2 w-full bg-gray-500 hover:bg-gray-100 hover:text-zinc-600 rounded border shadow transition duration-200" onclick="copyText()">Copy Text </button>
        </div>

    </div>
</section>
{% endblock %}

<!-- Footer of Page -->
{% block base_footer %}give
<p class="text-gray-500 text-left px-2 font-medium uppercase title-font mb-4 border-b border-gray-500 w-full">
    Home Page
</p>
{% endblock %}