<!-- Layout based on https://www.creative-tim.com/twcomponents/u/denver-edwards -->
<nav class="border border-gray-300 py-2.5 bg-gray-300 shadow-md shadow-gray-900/50">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <!-- Brand -->
        <a href="{{ url_for('home') }}"
           class="flex items-center align-middle group
                  focus:outline-none focus:ring-2 focus:ring-amber-400 ring-offset-2
                  hover:text-gray-500">
            <h1 class="self-center text-xl font-semibold whitespace-nowrap flex flex-row-reverse">
                <span class="pl-2">
                    FastAPI
                </span>
                <i class="fa-solid fa-truck-fast text-3xl mx-2 text-green-800
                          group-hover:text-amber-500  "></i>
                <i class="fa-brands fa-python text-3xl mx-2 text-blue-800
                          group-hover:text-amber-500"></i>
            </h1>
        </a>

        <!-- Mobile/Responsive Navigation button -->
        <div class="flex items-center">
            <button
                    id="menu-toggle"
                    type="button"
                    class="inline-flex items-center p-2 ml-3 rounded-md text-sm text-gray-500
                           hover:text-red-500 hover:bg-gray-100
                           focus:outline-none focus:ring-2 focus:ring-gray-200
                           md:hidden"
            >
                <span class="sr-only">Open main menu</span>
                <!-- Hamburger icon -->
                <svg class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                </svg>
            </button>
        </div>

        <!-- Actual Navigation -->
        <div class="w-full md:block md:w-auto hidden"
             id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="{{ url_for('home') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-gray-700 hover:text-red-700
                              focus:outline-none focus:ring-2 focus:ring-blue-400 ring-offset-2
                              hover:bg-gray-50 md:hover:bg-transparent
                              border-b border-gray-100 md:border-0"
                       aria-current="page">
                        Home
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>